<div class="all-games" fxLayout="column" fxLayoutAlign="space-around center" >
  <h3>כל המשחקים</h3>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> שם המשחק </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> זמן התחלה </th>
        <td mat-cell *matCellDef="let element"> {{element.start | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> זמן סיום </th>
        <td mat-cell *matCellDef="let element"> {{element.end | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

<!--      &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="start_location">-->
<!--        <th mat-header-cell *matHeaderCellDef> מיקום התחלה </th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.start_location | placeNameFromId}} </td>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="finish_location">-->
<!--        <th mat-header-cell *matHeaderCellDef> מיקום סיום </th>-->
<!--        <td mat-cell *matCellDef="let element"> {{element.finish_location | placeNameFromId}} </td>-->
<!--      </ng-container>-->

      <!-- Symbol Column -->
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef>אחראי משחק </th>
        <td mat-cell *matCellDef="let element"> {{element.owner_name}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>פעולות</th>
        <td mat-cell *matCellDef="let element">
          <i class="ft-play cursor-pointer font-medium-3 success ml-3" (click)="startGame(element)"></i>
          <i class="ft-info cursor-pointer font-medium-3 primary ml-3" (click)="showInfo(element)"></i>
          <!--      <i class="ft-power cursor-pointer font-medium-3 danger ml-3" *ngIf="element.active == placeActiveType.Active" (click)="shutdown(element)"></i>-->
          <!--      <i class="ft-play cursor-pointer font-medium-3 success ml-3" *ngIf="element.active == placeActiveType.InActive" (click)="shutdown(element)"></i>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

