<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
        <div>
          <h1>משחק משחק משחק </h1>
          <h2>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי להאמית קרהשק סכעיט דז מא, מנכם למטכין.</h2>
          <a routerLink="/games"  class="download-btn"><i class="bx bxl-play-store"></i> מצא משחקים</a>
<!--          <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>-->
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
        <img src="./../../../../assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<!-- ======= App Features Section ======= -->
<section id="features" class="features">
  <div class="container">

    <div class="section-title">
      <h2>קצת עלינו</h2>
      <p>
        לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
        <br>
        לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
      </p>
    </div>

    <div class="row no-gutters">
      <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
        <div class="content d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 icon-box" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>ממשק איטרטיבי</h4>
              <p>הממשק שלנו נוח וידידותי גם ללקוחות הקשים ביותר שלא מסתדרים עם כל הטכנולוגיה בשוק.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>הכל כאן</h4>
              <p>שלא כמו במקומות אחרים, אצלנו תוכל לנהל את כל הנושאים הקשורים למשחק שלך אצלנו, ללא דפים, קבצים או מחברת ישנה.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>עיצוב ומראה</h4>
              <p>מתוך הבנה כי בנוסף לנוחות, התוצר צריך להיות להיראות טוב ונעים לעין, השקענו מאמצים גדולים בשמירה על קווים נקיים ומראה יחודי וסוחף.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-shield"></i>
              <h4>הגנה מקיפה</h4>
              <p>המידע שלך חשוב לנו! אנו עושים את כל המאמצים לשמור על אבטחת המידע שלך ברמות הגבוהות ביותר.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-atom"></i>
              <h4>קישוריות גבוהה</h4>
              <p>לשמירה על נוחיות הלקוח אנו שמים דגש על התממשקות נרחבת לכל הפלטפורמות המקובלות: גוגל, פייסבוק, אינסטגרם וכו'.</p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-id-card"></i>
              <h4>פרופיל אישי</h4>
              <p>בהנחה ותרצה בכך תוכל לדאוג שהפרופיל שלך יהיה חשוף לשחקנים נוספים ובכך להכיר אנשים חדשים.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="assets/img/features.svg" class="img-fluid" alt="">
      </div>
    </div>

  </div>
</section>
<!-- End App Features Section -->

<!-- ======= Details Section ======= -->
<section id="details" class="details section-bg">
  <div class="container">

    <div class="row content">
      <div class="col-md-4" data-aos="fade-right">
        <img src="assets/img/details-1.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-4" data-aos="fade-up">
        <h3>כותרת כותרת כותרת</h3>
        <p class="font-italic">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
        </p>
        <ul>
          <li><i class="icofont-check"></i> לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.</li>
          <li><i class="icofont-check"></i> לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.</li>
          <li><i class="icofont-check"></i> לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.</li>
          <li><i class="icofont-check"></i> לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.</li>
        </ul>
        <p>
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
        <img src="assets/img/details-2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
        <h3>כותרת כותרת</h3>
        <p class="font-italic">
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
        </p>
        <p>
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
        </p>
        <p>
          לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית קולהע צופעט למרקוח איבן איף, ברומץ כלרשט מיחוצים. קלאצי להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Details Section -->


<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
  <div class="container">
    <div class="section-title">
      <h2>שאלות נפוצות</h2>
      <p>כמו לכל פלטפורמה חדשה גם כאן אני סבורים כי יעלו המון שאלות לקהל לקוחותינו.
        ולכן הוספנו עבורכם מאגר של השאלות הנפוצות ביותר שאנו נתקלים בהם, על מנץ שתוכלו לקבל תשובה לשאלה שלכם במהירות המקסימלית.
      </p>
    </div>
    <div class="accordion-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#accordion-list-1">למה אני צריך לתת את המספר טלפון שלי בהרשמה? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
            <p>
              תהליך הזדהות בSMS הוא חיוני ביותר על מנת שנזהה אותך בהתחברויות הבאות שלך מבלי ליצור תהליך לא נעים של הזדהות ארוכה.
              <br>
              עם זאת אנו שמים דגש גדול על מאגר הנתונים שלנו, עם שמירה קפדמית ואמצעי מיגון מהמובילים בשוק, כך שאתה יכול להיות רגוע לגבי המידע שלך.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-2" class="collapsed">מי יכול לצפות במידע שלי? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
            <p>
              ושבעגט. לפרומי בלוף קינץ תתיח לרעח. ושבעגט. לפרומי בלוף קינץ תתיח לרעח. ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-3" class="collapsed">ושבעגט. לפרומי בלוף קינץ תתיח לרעח? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
            <p>
              לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח. לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-4" class="collapsed">ושבעגט. לפרומי בלוף קינץ תתיח לרע? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-4" class="collapse" data-parent=".accordion-list">
            <p>
              לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח. לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#accordion-list-5" class="collapsed">ושבעגט. לפרומי בלוף קינץ תתיח לרעח? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="accordion-list-5" class="collapse" data-parent=".accordion-list">
            <p>
              לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח. לורם שבצק יהול, לכנוץ בעריר גק ליץ, ושבעגט. לפרומי בלוף קינץ תתיח לרעח.
            </p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section>
<!-- End Frequently Asked Questions Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container">

    <div class="section-title">
      <h2>לקוחות ממליצים</h2>
      <p>בואו תשמעו קצת ממה שיש ללקוחות לספר עלינו</p>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-template *ngFor="let item of testimonialsData" carouselSlide>
        <div class="testimonial-wrap">
          <div class="testimonial-item">
            <img [src]="item.avatar" class="testimonial-img" alt="">
            <h3>{{item.name}}</h3>
            <h4>{{item.subject}}</h4>
            <p class="testimonial-direction">
              <i class="bx bxs-quote-alt-right quote-icon-left"></i>
              {{item.text}}
              <i class="bx bxs-quote-alt-left quote-icon-right"></i>
            </p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>


  </div>
</section>
<!-- End Testimonials Section -->
