<div fxLayout="column" fxLayoutAlign="space-around center">
  <h3>{{this.treasureHunt ? 'עדכן משחק' : 'צור משחק'}}</h3>
  <mat-vertical-stepper #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon></mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <mat-icon></mat-icon>
    </ng-template>

    <!-- Custom icon with a context variable. -->
    <ng-template matStepperIcon="number" let-index="index">
      <mat-icon></mat-icon>
    </ng-template>

    <mat-step [stepControl]="basicForm">
      <form [formGroup]="basicForm" fxLayout="column" fxLayoutAlign="space-around none">
        <ng-template matStepLabel>פרטי המשחק</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>כותרת</mat-label>
          <input matInput placeholder="כותרת" formControlName="title"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>בחר תאריך התחלה</mat-label>
          <input matInput [matDatepicker]="start_picker" formControlName="start"/>
          <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
          <mat-datepicker #start_picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>בחר תאריך סיום</mat-label>
          <input matInput [matDatepicker]="end_picker" formControlName="end"/>
          <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
          <mat-datepicker #end_picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>מיקום התחלת המשחק</mat-label>
          <mat-select formControlName="start_location" required>
            <mat-option *ngFor="let place of dogParks" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>מיקום סיום המשחק</mat-label>
          <mat-select formControlName="finish_location" required>
            <mat-option *ngFor="let place of dogParks" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button type="button" class="btn btn-primary btn-raise" matStepperNext><i class="ft-chevrons-left"></i>המשך
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="stepsForm" [formGroup]="stepsForm">
      <form [formGroup]="stepsForm" fxLayout="column" fxLayoutAlign="space-around none">
        <ng-template matStepLabel>שלבי המשחק</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>מיקום הצעד</mat-label>
          <mat-select required formControlName="location">
            <mat-option *ngFor="let place of dogParks" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>קוד סודי</mat-label>
          <input matInput placeholder="קוד סודי" formControlName="secret_key"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>תיאור</mat-label>
          <input matInput placeholder="תיאור" formControlName="description"/>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center" >
          <button type="button" class="btn btn-primary btn-raise" (click)="pushNewStep()"><i class="ft-plus"></i>הוסף
            שלב
          </button>
          <button type="button" class="btn btn-primary btn-raise" (click)="toggleSteps()"><i [className]="showSteps ? 'ft-eye-off' : 'ft-eye'" class="ft-chevrons-left"></i>הצג שלבים
          </button>
          <button type="button" class="btn btn-primary btn-raise" matStepperNext><i class="ft-chevrons-left"></i>המשך
          </button>
        </div>
      </form>

      <mat-accordion *ngIf="showSteps">
        <mat-expansion-panel *ngFor="let step of steps" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'#' + step.step_num + ' - ' + step.name}}
            </mat-panel-title>
            <mat-panel-description>
              <p>{{step.description}}</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            <span class="details-step-title">מיקום התחלתי לצעד:</span>
            {{step.start_location | placeNameFromId}}<br/>
            <span class="details-step-title">מיקום סופי לצעד:</span>
            {{step.finish_location | placeNameFromId}}<br/>
            <span class="details-step-title">קוד סודי:</span>
            {{step.secret_key}}<br/>

          </p>
          <mat-action-row>
            <button type="button" class="btn btn-danger btn-raise" (click)="removeStep(steps.indexOf(step))"><i class="ft-x"></i>מחק
            </button>
          </mat-action-row>

        </mat-expansion-panel>
      </mat-accordion>

    </mat-step>
    <mat-step>
      <ng-template matStepLabel>סיום</ng-template>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button type="button" class="btn btn-primary btn-raise" (click)="this.treasureHunt ? updateGame() : submitGame()">
          <i class="ft-check"></i>{{this.treasureHunt ? 'עדכן משחק' : 'צור משחק'}}</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>


</div>
