<div fxLayout="row" fxLayoutAlign="center start" class="text-dialog" mat-dialog-content>
  <span>
    {{ this.dialogData && this.dialogData.message ? dialogData.message : 'האם אתה בטוח?'}}
  </span>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around center">
    <button fxFlex="0 0 auto" class="btn btn-raised mr-1 btn-primary" [mat-dialog-close]="false">לא</button>
    <button fxFlex="0 0 auto" class="btn btn-raised mr-1 btn-primary" [mat-dialog-close]="true">כן</button>
</div>
