body {
  background-color: #EBEBEB;
}
button {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
  letter-spacing: 1px;
  min-width: 83px;
  border: 0;
  overflow: unset;
}
.text-dialog {
  direction: rtl;
  text-align: center;
  min-height: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 19px;
}

