.loading-background {
  position: fixed;
  z-index: 2;
  background: #fff;
  opacity: 0.6;
  mat-progress-spinner {
    opacity: 1;
    ::ng-deep circle {
      stroke: #009DA0!important;
    }
  }
}
