<div fxFill class="container" fxFill fxLayout="row" fxLayoutAlign="space-around center" >
  <div fxLayout="column" fxFill>
    <form [formGroup]="form" fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>שם</mat-label>
        <input matInput placeholder="שם" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>שכונה</mat-label>
        <input matInput placeholder="שכונה" formControlName="neighborhood">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>רחוב</mat-label>
        <input matInput placeholder="רחוב" formControlName="street">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>מפעיל</mat-label>
        <input matInput placeholder="מפעיל" formControlName="operator">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>סוג המתקן</mat-label>
        <mat-select formControlName="type" required>
          <mat-option [value]="placesType.Historic_Parks">{{placeTypeTitles[placesType.Historic_Parks]}}</mat-option>
          <mat-option [value]="placesType.Cafewithdog">{{placeTypeTitles[placesType.Cafewithdog]}}</mat-option>
          <mat-option [value]="placesType.NationalParks">{{placeTypeTitles[placesType.NationalParks]}}</mat-option>
          <mat-option [value]="placesType.Dog_garden">{{placeTypeTitles[placesType.Dog_garden]}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>תקינות המקום</mat-label>
        <mat-select formControlName="condition" required>
          <mat-option [value]="conditionType.Working_Active">{{conditionTypeTitles[conditionType.Working_Active]}}</mat-option>
          <mat-option [value]="conditionType.Working_Not_Active">{{conditionTypeTitles[conditionType.Working_Not_Active]}}</mat-option>
          <mat-option [value]="conditionType.Not_Working_Active">{{conditionTypeTitles[conditionType.Not_Working_Active]}}</mat-option>
          <mat-option [value]="conditionType.Not_Working_Not_Active">{{conditionTypeTitles[conditionType.Not_Working_Not_Active]}}</mat-option>
        </mat-select>
      </mat-form-field>


      <div class="handicapped text-black mb-3" fxLayout="row" fxLayoutAlign="space-between center" >
        <mat-label>מותאם לבעלי מוגבלויות?</mat-label>
        <mat-slide-toggle formControlName="handicapped" color="primary"></mat-slide-toggle>
      </div>
      <button *ngIf="!dialogData" class="btn btn-raised mr-1 btn-primary" (click)="addInterestingPoint()">הוסף נקודה</button>
      <button *ngIf="dialogData" class="btn btn-raised mr-1 btn-primary" (click)="updateInterestingPoint()">ערוך נקודה</button>
      <button *ngIf="dialogData" class="btn btn-raised mr-1 btn-primary" (click)="preview()">תצוגה מקדימה ועריכת תמונה</button>
    </form>
  </div>
</div>
