.dropdown {
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #5777ba;
  }
  .dropdown-toggle {
    padding: 0;
    cursor: pointer;
    &::after {
      content: unset;
    }
    img {
      max-height: 45px;
    }
  }

  .dropdown-menu {
    text-align: center;
  }

  a {
    text-align: right;
  }
}
.logo {
  h1 {
    font-family: 'hussar', serif;
  }
  img {
    height: 50px;
    max-height: 60px;
  }
}

