<div>
  <h3>{{myBusinesses && myBusinesses.id ? 'עדכן עסק' : 'צור עסק חדש'}}</h3>

  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-around none">

    <mat-form-field appearance="fill">
      <mat-label>שם העסק</mat-label>
      <input matInput placeholder="שם העסק" id="name" name="name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>טלפון</mat-label>
      <input matInput placeholder="שם העסק" id="phone" formControlName="phone" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>כתובת</mat-label>
      <input matInput placeholder="שם העסק" id="address" formControlName="address" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>תיאור</mat-label>
      <input matInput placeholder="שם העסק" id="description" formControlName="description" />
    </mat-form-field>
    <div fxLayout="column" fxLayoutAlign="start start" >
      <mat-checkbox id="dog_friendly" formControlName="dog_friendly">עסק ידידותי לכלבים?</mat-checkbox>
      <label for="type">סוג העסק:</label>
      <mat-radio-group id="type" fxLayout="column" aria-label="Select an option" formControlName="type">
        <mat-radio-button [value]="businessesType.Pet_shop">{{businessesTypeTitles[businessesType.Pet_shop]}}</mat-radio-button>
        <mat-radio-button [value]="businessesType.Barber_Dog">{{businessesTypeTitles[businessesType.Barber_Dog]}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button type="button" class="btn btn-primary btn-raise" (click)="save()">
        <i class="ft-check"></i>{{myBusinesses && myBusinesses.id ? 'עדכן פרטי עסק' : 'צור עסק חדש'}}</button>
    </div>

  </form>
</div>
