.body-modal {
  position: relative;

  .loading-background {
    position: absolute;
    z-index: 2;
    background: #fff;
    opacity: 0.6;

    mat-progress-spinner {
      opacity: 1;
      ::ng-deep circle {
        stroke: #5777ba!important;
      }
    }
  }

  .header-image {
    background-size: cover;
  }

  .cover-image {
    height: 250px;;
  }
}
