<table mat-table fxFill [dataSource]="dataSource" class="mat-elevation-z8 text-left">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>שם </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="street">
    <th mat-header-cell *matHeaderCellDef> רחוב </th>
    <td mat-cell *matCellDef="let element"> {{element.street}} </td>
  </ng-container>

  <ng-container matColumnDef="neighborhood">
    <th mat-header-cell *matHeaderCellDef> שכונה </th>
    <td mat-cell *matCellDef="let element"> {{element.neighborhood}} </td>
  </ng-container>

  <ng-container matColumnDef="operator">
    <th mat-header-cell *matHeaderCellDef> גורם אחראי </th>
    <td mat-cell *matCellDef="let element"> {{element.operator}} </td>
  </ng-container>

  <ng-container matColumnDef="condition">
    <th mat-header-cell *matHeaderCellDef> סטטוס </th>
    <td mat-cell *matCellDef="let element"> {{conditionTypeTitle[element.condition]}} </td>
  </ng-container>

  <ng-container matColumnDef="handicapped">
    <th mat-header-cell *matHeaderCellDef> מותאם לנכים </th>
    <td mat-cell *matCellDef="let element"> {{element.handicapped ? 'כן' : 'לא'}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>פעולות</th>
    <td mat-cell *matCellDef="let element">
      <i class="ft-trash-2 cursor-pointer font-medium-3 danger ml-3" (click)="removeInterestingPoint(element.id)"></i>
      <i class="ft-edit-2 cursor-pointer font-medium-3 success ml-3" (click)="editInterestingPoint(element)"></i>
      <i class="ft-power cursor-pointer font-medium-3 danger ml-3" *ngIf="element.active == placeActiveType.Active" (click)="shutdown(element)"></i>
      <i class="ft-play cursor-pointer font-medium-3 success ml-3" *ngIf="element.active == placeActiveType.InActive" (click)="shutdown(element)"></i>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="pt-4" fxLayout="row" fxLayoutAlign="start center" >
  <button fxFill class="btn btn-raised mr-1 btn-primary" (click)="addInterestingPoint()" >הוסף נקודת עניין חדשה</button>
</div>
